* {
  padding: 0;
  margin: 0;
}

/* Proxima */
@font-face {
  font-family: "Proxima Nova";
  src: url(/beyonce/assets/fonts/ProximaNova-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/beyonce/assets/fonts/ProximaNova-Regular.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/beyonce/assets/fonts/ProximaNova-RegularItalic.otf) format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/beyonce/assets/fonts/ProximaNova-SemiboldItalic.otf) format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(/beyonce/assets/fonts/ProximaNova-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Museo */

@font-face {
  font-family: "Museo Slab";
  src: url(/beyonce/assets/fonts/MuseoSlabb.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Slab";
  src: url(/beyonce/assets/fonts/MuseoSlabb.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Bold";
  src: url(/beyonce/assets/fonts/MuseoSlabBold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Museo Bold";
  src: url(/beyonce/assets/fonts/MuseoSlabBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

body{
  margin: auto;
  padding: 2em;
  position: relative;
  /* font-size: 1em; */
  background-color: #EEEEEE;
  min-width: 500px;
  color: #000;
  max-width: 1300px;
}

section {
  padding: 1em;
  position: relative !important;
  max-width: 1300px;
  margin: auto;
}

#intro {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* font styles */
.title-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.header {
  padding-top: .5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;
  top: 0px;
  position: sticky;
}

.content {
  /* height: 100vh; */
  padding-top: 1em;
}

.player-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 32px;
  width: 32px;
  background-color: #332D44;
  margin-right: .65em;
  background-image: url(/beyonce/assets/LOGO.svg);
  background-size: contain;
  border-radius: 3px;
}

.title {
  font-size: 35px;
  padding: 0;
  font-family: 'Museo Bold';
  font-weight: 600;
}

@media (max-width: 1300px){
  .title{
    font-size: 28px;
  }
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-family: 'Museo Slab';
}

.credit {
  font-family: 'Proxima Nova';
  font-weight: 500;
  font-size: 18px;
  padding: .5em 0;
}

.emphasis {
  font-family: 'Museo Bold';
  font-weight: 700;
  font-style: normal;
}

.text {
  line-height: 24px;
  font-family: 'Proxima Nova';
  font-style: normal;
  padding: 1em 0;
  font-size: 18px;
}

#questions {
  padding-bottom: .5em;
}

.indent {
  padding: 0 1.75em 1.5em;
  font-family: 'Museo Slab';
  font-size: 24px;
  font-weight: 300;
}

.subscript {
  font-size: 16px;
  padding: 0em !important;
  background-color: #EEEEEE;
  font-family: 'Proxima Nova';
}

@media screen and (max-width: 1430px) {
  .subscript {
    font-size: 16px;
  }
}

/* TODO: finish smaller screen font sizes */
@media screen and (max-width: 760px) {
  .text {
    font-size: .75em;
  }
}
.initial-instructions {
  line-height: 1.25em;
  display: flex;
  justify-content: space-between;
}

.column {
  width: 49%;
  font-family: 'Proxima Nova';
  padding: .5em 0;
}

.instructions {
  display: flex;
  background-color: #EEEEEE;
  padding: .5em 0 .75em;
  line-height: 1.25em;
  flex-direction: column;
}

.smaller  {
  width: 25%;
}

#align-right {
  text-align: right;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #EEEEEE;
  width: 100%;
  height: 500px;
  overflow: auto;
  /* margin-bottom: 4em; */
  /* height: fit-content; */
}

.cards2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: #EEEEEE;
  width: 100%;
  /* margin-bottom: 4em; */
  gap: 1.25em;
  /* height: fit-content; */
}



.card {
  background-color: #F3B54A;
  width: 16%;
  border-radius: 2px;
  padding: 1em 1em 1.5em;
  font-family: 'Proxima Nova';
  font-size: 16px;
  color: #332D44;
  display: grid;
  grid-template-rows: 3em 60px 5em;
  min-width: 150px;
}

.card2 {
  background-color: #F3B54A;
  width: 16%;
  border-radius: 2px;
  padding: 1em 1em 1.5em;
  font-family: 'Proxima Nova';
  font-size: 16px;
  color: #332D44;
  display: grid;
  grid-template-rows: 3em 1.5em 65px 4em;
  min-width: 150px;
}

.card-intro {
  display: flex;
  align-self: flex-end;
  /* border: 1px solid red; */
}

.outer-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

@media (max-width: 1080px){
  .cards2{
    display: flex;
    gap: 1em;
    justify-content: center;
    max-width: 600px;
    min-width: 760px;
  }

  .card {
    margin: .5em 0;
    height: max-content;
  }

  .stat {
    font-size: 15px;
  }

  .header {
    height: 100px;
    /* min-width: 825px; */
  }
}

@media (max-width: 800px) {
  #long-header {
    height: 200px;
  }
}

.highlight {
 font-family: 'Museo Slab';
 font-weight: 600;
 font-size: 50px;
}

.highlight-alt {
  font-size: 80px;
   font-family: 'Museo Slab';
 font-weight: 500;
 margin: 0 auto;
}

.facts {
  font-family: 'Proxima Nova';
  font-size: 14px;
  font-weight: 700;
  margin-bottom: .2em;;
}

.cliff-notes {
  font-family: 'Proxima Nova';
  font-weight: 400;
  padding: 1em 0;
  width: 60%;
  margin-top: 1em;
}

@media (max-width: 1090px) {

  .cards {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1430px) {
  .block {
    font-size: 12px;
  }
}

.line {
  height: 10px;
  background-color: #332D44;
  margin: .5em 0;
}

.label {
  padding-right: .5em;
}

.legend-label {
  padding-left: .5em;
  font-family: 'Museo Slab';
}

.legend-wrapper {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}

.legend-wrapper2 {
  padding: 1.75em 1em 1em;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid lightgray;
}

.form {
  min-width: max-content;
}

.group {
  width: 50%;
  display: flex;
  gap: 1.5em;
  justify-content: flex-end;
  align-items: center;
}

.legend-item {
  font-family: 'Source Serif Pro', serif;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
}
.legend-circle {
  background: #6365BA
;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.legend-circle2 {
  background: #6365BA;
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.legend-ring {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  border: 2px solid #6365BA;
}

.legend-ring2 {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  border: 2px solid #6365BA;
}

.flex {
  display: flex;
}

select {
  background-color: #EEEEEE;
  font-family: 'Proxima Nova';
}

label {
  font-family: 'Museo Slab';
}

#container,
#container2,
#container3,
#container4 {
  background-color: #EEEEEE;
  border: 1px solid lightgray;
  width: 100%;
  height: max-content;
  border-radius: 4px;
  margin-top: .75em;
}

.viz{
  border-top: 1px solid lightgray;
  background-color: #EEEEEE;
}

.y-axis {
  font-family: 'Proxima Nova';
  font-weight: 400;
}

.y-label,
.y-label2,
.y-label3,
.x-label {
  font-family: 'Museo Slab';
  font-weight: 400;
  /* font-size: 32px; */
}

.tick {
  font-size: 16px;
  opacity: .6;
  color: #CDCED1
}


audio {
  z-index: 100;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: lightgray;
  color: white;
  opacity: 1;
}

.dropdown {
  background: white;
}

#container .tooltip {
  color: #fff;
  display: block;
  margin-bottom: 15px;
  opacity: 0;
  padding: 10px;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px lightgray;
  pointer-events: none;
  height: max-content;
  font-family: 'Proxima Nova';
  width: max-content;
  border-radius: 2px;

}

#container2 .tooltip2 {
  background: #fff;
  display: block;
  opacity: 0;
  padding: 10px;
  color: #000 !important;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px lightgray;
  pointer-events: none;
  height: max-content;
  font-family: 'Proxima Nova';
  border-radius: 2px;

}

#container3 .tooltip3 {
  background: #fff;
  display: block;
  opacity: 0;
  padding: 10px;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px lightgray;
  pointer-events: none;
  height: max-content;
  font-family: 'Proxima Nova';
  border-radius: 2px;
}

#container4 .tooltip4 {
  background: #fff;
  /* bottom: 100%; */
  display: block;
  opacity: 0;
  padding: 10px;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px lightgray;
  pointer-events: none;
  height: max-content;
  font-family: 'Proxima Nova';
  border-radius: 2px;
}

.tooltip .profile {
width: 100px;
height: 100px;
border: 1px solid #000;
border-radius: 4px;
}

.tooltip2 .profile {
width: 100px;
height: 100px;
border: 1px solid #000;
border-radius: 4px;
}

.center:hover {
  cursor: pointer;
  stroke: #6365BA;
  stroke-width: 3px;
  opacity: 1;
}

.altCenter:hover {
  cursor: pointer;
  stroke-width: 3px;
  stroke: #DF703C;
  opacity: 1;
}

.ring {
stroke-width: 2px;
}

.ring:hover {
  cursor: pointer;
  stroke-width: 4px;
}

.music:hover {
  cursor: pointer;
  stroke-width: 3px;
  stroke: #DF703C;
  opacity: 1;
}

.stem:hover {
  stroke-width: 2px;
  cursor: pointer;
}

.altStem:hover {
  stroke-width: 2px;
  stroke: gray;
  cursor: pointer;
}

.unit .playing {
  position: absolute;
}

.albums .playing {
  position: absolute;
}

.playing .music {
  animation: tilt-shaking .75s infinite;
}
.playing .center {
  animation: tilt-shaking .75s infinite;
}

.playing .altCenter {
  animation: tilt-shaking .75s infinite;
}
.playing .stem {
  animation: tilt-shaking .75s infinite;
}

.dot .pulsing {
  position: absolute;
}

.albums .pulsing {
  position: absolute;
}

.pulsing .center {
  animation: zoom-in-zoom-out 1s infinite;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

.pulsing .altCenter {
  animation: zoom-in-zoom-out 1s infinite;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

.reverb {
  stroke-width: 4px;
  opacity: .6 !important;
  position: absolute;
  overflow: visible;
  fill: none;
  /* transform: scale(0.5); */
  animation: pulse-me 1s linear infinite;
  /* stroke-opacity: .6; */
  stroke-width: 5px;
  box-shadow: 4px 4px 4px lightgray;
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 2.5em;
}

@keyframes pulse-me{
  0%{
    transform: scale(.75);
    stroke-opacity: 0;
  }
  50%{
    stroke-opacity: 0.9;
  }
  70%{
    transform: scale(1);

    stroke-opacity: 0.6;
  }
  100%{
    transform: scale(1.25);
    stroke-opacity: 0;
  }
}

 @keyframes tilt-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(7px) }
  50% { transform: translateY(-7px) }
  75% { transform: translateY(7px) }
  100% { transform: translateY(0) }
}

  @keyframes zoom-in-zoom-out {
  0% {
    transform: scale(.8, .8);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}

.quarter-note,
.quarter-note-rap {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 30px;
  top: 10px;
  opacity: .6;
}

.quarter-note::before,
.quarter-note-rap::before {
  height: 10px;
  width: 10px;
}

.quarter-note::after {
  content: "";
  height: 22px;
  width: 1px;
  background-color: #DF703C;
  position: absolute;
  top: -15px;
  right: 2px;
}

.quarter-note-rap::after {
  content: "";
  height: 22px;
  width: 1px;
  background-color: #6365BA;
  position: absolute;
  top: -15px;
  right: 2px;
}
.quarter-note::before,
.quarter-note-rap::before {
  position: absolute;
  content: "";
  /* transform: rotatez(-100deg); */
  border-radius: 50%;
}

.quarter-note::before {
  background-color: #DF703C;
}

.quarter-note-rap::before {
  background-color: #6365BA;
}

.conclusion {
  font-style: normal;
}

.threshold {
  stroke: gray;
  stroke-dasharray: 4, 5;
}
